<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">
  <!-- 권한 선언 -->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />


  <!-- 패키지 쿼리 -->
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
    <package android:name="com.kakao.talk" />
    <package android:name="com.nhn.android.search" />
    <package android:name="com.naver.nid.login" />
  </queries>

  <application android:name=".MainApplication"
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="true"
    android:theme="@style/AppTheme"
    android:supportsRtl="true"
    android:requestLegacyExternalStorage="true"
    android:usesCleartextTraffic="true">

    <!-- 서비스 -->
    <service android:name="com.reactnativeforegroundservice.ForegroundService" />
    <service android:name="com.reactnativeforegroundservice.ForegroundServiceTask" />
    <receiver android:name="com.reactnativeforegroundservice.ForegroundServiceButtonReceiver" />


    <!-- 앱 메타데이터 -->
    <meta-data android:name="com.google.firebase.messaging.default_notification_color"
      android:resource="@color/notification_icon_color" />
    <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
      android:resource="@drawable/notification_icon" />
    <meta-data android:name="expo.modules.notifications.default_notification_color"
      android:resource="@color/notification_icon_color" />
    <meta-data android:name="expo.modules.notifications.default_notification_icon"
      android:resource="@drawable/notification_icon" />
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false" />
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH"
      android:value="ALWAYS" />
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0" />

    <!-- 네이버 로그인 메타데이터 -->
    <meta-data android:name="com.naver.sdk.clientId" android:value="Y3OUgvCptmtmaPTb9GLc" />
    <meta-data android:name="com.naver.sdk.clientSecret" android:value="iEoHx5dLJs" />
    <meta-data android:name="com.naver.sdk.clientName" android:value="PlanEasy" />
    <meta-data android:name="com.naver.sdk.callbackUrl"
      android:value="naverY3OUgvCptmtmaPTb9GLc://oauth" />

    <!-- 메인 액티비티 -->
    <activity android:name=".MainActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode"
      android:launchMode="singleTask"
      android:windowSoftInputMode="adjustResize"
      android:theme="@style/Theme.App.SplashScreen"
      android:exported="true"
      android:screenOrientation="portrait">

      <!-- 런처 인텐트 필터 -->
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <!-- Expo 개발 클라이언트 인텐트 필터 -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="exp+planeasy" android:host="expo-development-client" />
      </intent-filter>

      <!-- 앱 스키마 인텐트 필터 -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="com.kwonjihoo.PlanEasy" />
      </intent-filter>

      <!-- 카카오 로그인 인텐트 필터 -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="kakao8914389a91c8b805636ddfac88b9f019" android:host="oauth" />
      </intent-filter>

      <!-- 네이버 로그인 인텐트 필터 -->
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="naverY3OUgvCptmtmaPTb9GLc" android:host="oauth" />
      </intent-filter>

      <!-- 추가 URL 스키마 -->
      <!-- 추가 URL 스키마 (Firebase Hosting 기반만 남김) -->
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data
          android:scheme="https"
          android:host="planeasy-74132.web.app"
          android:pathPrefix="/handler" />
      </intent-filter>

    </activity>

    <!-- 카카오 로그인 핸들러 액티비티 -->
    <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:host="oauth" android:scheme="kakao8914389a91c8b805636ddfac88b9f019" />
      </intent-filter>
    </activity>

    <!-- 네이버 로그인 액티비티 -->
    <activity
      android:name="com.navercorp.nid.oauth.ui.NidOAuthLoginActivity"
      android:configChanges="orientation|screenSize"
      android:screenOrientation="portrait"
      android:exported="true" />

    <activity
      android:name="com.navercorp.nid.oauth.ui.NidOAuthCustomTabActivity"
      android:configChanges="orientation|screenSize"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="naverY3OUgvCptmtmaPTb9GLc" android:host="oauth" />
      </intent-filter>
    </activity>

    <activity
      android:name="com.navercorp.nid.oauth.NidOAuthBridgeActivity"
      android:configChanges="orientation|screenSize"
      android:exported="true" />

  </application>
</manifest>